<html>
    <head>
        <title>ONLINE VOTING</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <!--CSS-->
	    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
<body style="background-color:sliver;overflow: hidden;">
    <nav class="navbar-fixed-top"  id="head-nav">
		<div>
			<ul class="right">
				<li ><a href="/register" id="signup" class="navlinkss"><strong>Register</strong></a></li>
				<li ><a href="/login" id="login" class="navlinkss"><strong>Login</strong></a></li>
				<li><a href="/logout" id="logout" class="navlinkss"><strong>Logout</strong></a></li>
			</ul>
		</div>
	</nav>
	<!-- <header>
        <h3 class="nav_header">EasyTrip</h3>
        <nav>
            <ul class="nav_links">
                <li><a href="/login">Sign In</a></li>
                <li id="home"><a href="/">Home</a></li>
            </ul>
        </nav>
    </header> -->
    <!--Scripts-->