<html>
	<head>
		<title>ONLINE VOTING</title>
		<link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css"  href="/stylesheets/admin.css">

	</head>
	<body id="admin-bg">
		<!-- <div class="ui fixed inverted menu">
			<div class=" ui container">
				<div class="header item"><i class="code icon"> </i>ADMINISTRATOR PAGE</div>
			    <a href="/admin/new" class="item">ADD CANDIDATES</a>
				<a href="/indexvoter" class="item">VOTER INDEX</a>
				<a href="/votecount" class="item">VOTE COUNT</a>
				<a href="/logout" class="item">LOGOUT</a>
			</div>
		</div> -->
		<header>
			<h3 class="nav_header">Administrator Portal</h3>
			<nav>
				<ul class="nav_links">
					<li><a href="/indexvoter" class="item">INDEX</a></li>
					<li id="home"><a href="/admin/new" class="item">ADD</a></li>
					<li><a href="/votecount" class="item">COUNT</a></li>
					<li><a href="/logout" class="item">LOGOUT</a></li>
				</ul>
			</nav>
		</header>
		<!-- <div class="ui segment" >
			  <div  class="template">
				<p class="head">Welcome To The Voting Portal</p>
				<img class="ui fluid image font-img" src="https://images.theconversation.com/files/193473/original/file-20171106-1041-b3hljk.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" alt="image"  >
				<div class="alert-img1">
				  <img src="https://eccles.utah.edu/wp-content/uploads/2018/10/vote-for-blog.jpg" alt="message" style="width: 100%;">
				  <div class="container">
					<p>Here!You wil find the guildines to be adhered for the voting process!</p>
				  </div>
				</div>
				<div class="alert-img2">
				  <img src="https://clarityhealthcare.eu/assets/PagePictures/regtest1.png" alt="register" style="width: 100%;">
				  <div class="container">
					<p>Navigate to the Top-Left Pane of the window and click the <strong>Register</strong> button to get yourself registerd to the portal.</p>
				  </div>
				</div>
				<div class="alert-img3">
				  <img src="https://marketplace-cdn.atlassian.com/files/images/197daec7-5248-4883-90dc-dff7f8468a96.png" alt="authorize" style="width: 100%;">
				  <div class="container">
					<p>You will recieve a new <strong>userid</strong> at your specified mail id after the system administrator will approve your authenticity. </p>
				  </div>
				</div>
				
				<div class="alert-img4">
				  <img src="https://st.depositphotos.com/1152339/3677/i/950/depositphotos_36779525-stock-photo-security-concept-login-on-digital.jpg" alt="login" style="width: 100%;">
				  <div class="container">
					<p>Login with your credentials with the your userid at the time of the voting!</p>
				  </div>
				</div>
				  <p id="disclaimer"><strong>Disclaimer: </strong>Do not try to abuse/manhandle the system. Your activity across the portal is restricted.</p>
			  </div>
			  
		</div> -->
	</body>
</html>
