<% include ./partials/header %>

  <div  class="template">
    <p class="head">Welcome To The Voting Portal</p>
    <img class="ui fluid image font-img" src="https://m.jagranjosh.com/imported/images/E/Articles/indian-parliament-pic.jpg" alt="image"  >
    <div class="alert-img1">
      <img src="https://eccles.utah.edu/wp-content/uploads/2018/10/vote-for-blog.jpg" alt="message" style="width: 100%;">
      <div class="container">
        <p>Here!You wil find the guildines to be adhered for the voting process!</p>
      </div>
    </div>
    <div class="alert-img2">
      <img src="https://clarityhealthcare.eu/assets/PagePictures/regtest1.png" alt="register" style="width: 100%;">
      <div class="container">
        <p>Navigate to the Top-Left Pane of the window and click the <strong>Register</strong> button to get yourself registerd to the portal.</p>
      </div>
    </div>
    <div class="alert-img3">
      <img src="https://marketplace-cdn.atlassian.com/files/images/197daec7-5248-4883-90dc-dff7f8468a96.png" alt="authorize" style="width: 100%;">
      <div class="container">
        <p>You will recieve a new <strong>userid</strong> at your specified mail id after the system administrator will approve your authenticity. </p>
      </div>
    </div>
    
    <div class="alert-img4">
      <img src="https://st.depositphotos.com/1152339/3677/i/950/depositphotos_36779525-stock-photo-security-concept-login-on-digital.jpg" alt="login" style="width: 100%;">
      <div class="container">
        <p>Login with your credentials with the your userid at the time of the voting!</p>
      </div>
    </div>
      <p id="disclaimer"><strong>Disclaimer: </strong>Do not try to abuse/manhandle the system. Your activity across the portal is restricted.</p>
  </div>
  
<% include ./partials/footer %>