<html>
    <head>
        <title>ONLINE VOTING</title>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <!--CSS-->
	    <link rel="stylesheet" type="text/css" href="/public/stylesheets/app.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/public/css/slick.css">
  	    <link rel="stylesheet" type="text/css" href="/public/css/slick-theme.css">
		<link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
	<body>
		<div style="width:30% ;margin:25px auto">
		<div class="ui negative message">
  			<i class="close icon"></i>
  				<div class="header">
    			CONFIRMATION ALERT!
  				</div>
  				<p>You have already casted your vote!</p>
		</div>
		</div>
	</body>
</html>